.nav__items {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
    padding: 0;
    align-items: center;
}
.sub-nav {
    position: absolute;
    margin-top: 250px;
    background-color: #232d64;
    visibility: hidden;
    font-size: 16px;
    line-height: 35px;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
}

li:hover .sub-nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

